body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2px;
}

a {
  text-decoration: none;
  color: #f1e9f0;
}

a:hover {
  color: #b30c00;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  color: #eeebed;
}

nav {
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #444;
  margin-right: 15px;
  font-size: 16px;
}

nav a:hover {
  color: #0078ff;
}

.main-news {
  padding: 40px 0;
}

.hero-article {
  display: flex;
  background: linear-gradient(to left, rgb(244, 139, 229) 10%, white);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: center;
}

.hero-content {
  flex: 2;
  padding: 30px;
}

.hero-content .category {
  display: inline-block;
  background-color: #f762b4;
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}
.hero-image {
  flex: 1;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image img {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  background-color: #f169bddc;
  object-fit: cover;
  background-position: right;
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.hero-content h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #1a1a1a;
}

.hero-content .author-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.hero-content p {
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  background-color: #fa73eb;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 600;
}

.read-more:hover {
  opacity: 0.8;
  color: black;
  transition: background-color 0.3s;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 18px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 17px;
  font-size: 15px;
}

table th {
  background: #f0f0f0;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.about p {
  width: 65%;
}

.profile {
  width: 150px;
  height: 190px;
  border-radius: 10px;
  object-fit: cover;
}

form {
  margin-top: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  margin-top: 13px;
}
